@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-playfair-sc: "Playfair Display SC", serif;

  --color-gold: #d6ad60;
  --color-gold-hover: #122620;
  --color-back: #1e1e1e;
  --color-foot: #101010;
  --color-mist: #e6e0e9;
}

:root {
  font-family: "Playfair Display", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #e6e0e9;
  background-color: #1e1e1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}